* {
  transition: all 0.5s;
}
.head { 
  height: 100vh;
  background-image: radial-gradient(at top, #282828, #222222);
}

.tail { 
  height: 100%;
  display: block;
  position: relative;
}

.tail::after {
  content: "";
  background: url("img/contact.jpg");
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*.head:before, .light:before, .tail:before {
  background: transparent;
  height: 100px;
  display: block;
  content: '';
}*/

footer {
  background-image: radial-gradient(at bottom, #282828, #222222);
  height: 60px; 
  margin-top: -60px;
  padding-top: 20px;
  padding-left: 30px;
  /*overflow: hidden;*/
  display: inline;
}

footer img {
  float:left;
  margin-left:3%;
}

section h1, section h3, .done p {
  color: white;
}

hr {
  background-color: #F7DC6F;
}

#navbar {
  top: -57px; 
  transition: top 0.3s;
}

#portfolio{
  padding-top: 65px;
}
#contact{
  padding-top: 50px;
}

.light {
  background-color: #FDFDFD;
}

.title {
  font-family: 'Abel', sans-serif;
}

.caption {
  font-family: 'Libre Baskervile', serif;
}

.text {
  font-family: 'Asap', sans-serif;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.center {
  text-align: center;
}

.copyright {
  font-size: 15px;
  color: white;
  float: right;
  padding-right: 3%;
}

/*h4, .rotate {
  transform: rotate(-90deg);
}*/

/*Nitin Profile Pic*/
.round {
  border-radius: 50%;
  max-width: 43vh;
  padding-right: 15px;
  height: auto;
  overflow: hidden;
}
#home p {
  width: 40vw;
}
@media only screen and (max-width: 767px) {
  #home p {
    width: 100%;
  }
}
/*Nitin Profile Pic*/

/*Cards*/
#details {
  padding-top: 100px;
}
#details .card {
  min-height: 410px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: auto;
  background-color: #FDFDFD !important;
  color: #2A2A2A;
  border: 2px solid #252525 !important;
  border-radius: 0 !important;
}
#details .card:hover {
  box-shadow: 2px 5px 25px grey;
  background-color: white !important;
}
#details .card:hover h1 {
  color: #F4D03F;
}
#details .card h1 {
  color: #D8D8D8;
  padding-top: 15px;
}
#details .card p {
  margin-left: auto;
  margin-right: auto;
}

#details .card-subtitle {
  color: #F1C40F;
}
/*Cards*/

/*Portfolio*/
.content {
  position: relative;
  margin: auto;
  overflow: hidden;
}
.content-overlay {
  background: rgba(0,0,0,0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.content:hover .content-overlay{
  opacity: 1;
}
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  text-shadow: 0 0 15px black;
}
.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}
.content-details h3{
  color: #fff;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
  font-size: 30px;
}
.content-details p{
  color: #F1C40F;
  font-size: 16px;
}
.fadeIn-bottom{
  top: 80%;
}
.fadeIn-top{
  top: 20%;
}
.fadeIn-left{
  left: 20%;
}
.fadeIn-right{
  left: 80%;
}
/*Portfolio*/

/*Contact Form*/
button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  top: 50px;
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
  color: #2C3E50;
}

.tail h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
  float: right;
  width: 45%;
}

input[type='text'], [type='email'], select, textarea {
  background: none;
  border: none;
  border-bottom: solid 2px #474544;
  color: #474544;
  font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0em 0 1.875em 0;
  padding: 0 0 0.875em 0;
  text-transform: uppercase;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
  outline: none;
  padding: 0 0 0.875em 0;
}

.message {
  float: none;
}

.name {
  float: left;
  width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
  line-height: 150%;
  height: 150px;
  resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
  color: #474544;
}

:-moz-placeholder { 
  color: #474544;
  opacity: 1;
}

::-moz-placeholder {
  color: #474544;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
.tail {
  top: -60px;
}
/*Contact Form*/

/*Slider*/
.range-slider {
  margin: 60px 0 0 0%;
}

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #F1C40F;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #F1C40F;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #2c3e50;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #F1C40F;
}
.range-slider__range:active::-moz-range-thumb {
  background: #F1C40F;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #F1C40F;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #2c3e50;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #2c3e50;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}
/*Slider*/

@media screen and (max-width: 800px) {
  .round {
    filter: grayscale(0%);
  }  
  .copyright {
    font-size: 12px;
  }
}